.headerContainer {
    display: flex;

    justify-content: center;

    background: var(--linear-menu-bg);

    box-shadow: 0 4px 40px 0 #0000001E;

    z-index: 1;
}

.header {
    display: flex;

    justify-content: space-between;
    align-items: center;


    padding: 1em;

    width: 100%;
    max-width: 1161px;
}

.logo {
    color: transparent;
    text-decoration: none;
    font-size: 0;
}

.logo g {
    fill: var(--text_color);
}

.desktop {
    display: flex;

    justify-content: center;

    background: var(--secondary_bg_color);

    box-shadow: inset 0 4px 50px #0000001C;
}

.desktop:after {
    content: '';
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.1);
    opacity: 1;
}

.desktopMenu {
    display: flex;

    justify-content: center;

    gap: 3em;

    max-width: 1280px;
}

.desktopMenu > a {
    color: black;

    text-decoration: none;
}

.mobile {
    z-index: 1;

    background-color: var(--secondary_bg_color);
}

.mobileMenu {
    display: flex;

    flex-direction: column;

    gap: 1em;

    height: 100%;
}

.mobileMenu > a {
    display: flex;

    justify-content: center;
    align-items: center;

    padding: 2em 0;

    background: var(--secondary_bg_color);
    color: var(--text_color);

    text-decoration: none;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.link {
    display: flex;

    align-items: center;

    gap: .25em;

    padding: 1em 0;
}

.burgerButton svg path {
    stroke: var(--text_color);
}
