.headerContainer {
    position: fixed;
    width: 100%;
}

.spacer {
    visibility: hidden;
}

.desktop {
    display: none;

    position: relative;
}

.desktop.open > .desktopContainer {
    clip-path: inset(0 0 0 0);
}

.desktopContainer {
    position: fixed;

    z-index: 1;

    width: 100%;

    clip-path: inset(0 0 100% 0);
    transition: clip-path linear 200ms;
    will-change: clip-path;
}

.mobile {
    display: block;

    position: fixed;

    left: 0;

    width: 100%;
    height: 100%;

    transition: max-height linear 200ms;
    will-change: max-height;

    overflow-y: auto;
    overflow-scrolling: touch;
}

.mobile.open {
    clip-path: inset(0 0 0 0);
}

@media screen and (min-width: 769px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: unset;
    }
}
